.card-about {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.judul {
  background-color: black;
  color: white;
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 90px;
}

.kartu {
  display: flex;
  flex-direction: row;
}

.title-about {
  color: grey;
  font-size: 18px;
}

.container-about {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
