@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.last {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    height: 100vh;
}