.header {
  width: 100%;
  height: 100%;
  background-color: black;
  border-bottom: 3px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trophy {
  margin-top: 5px;
  width: 8%;
  height: 100%;
}
